<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <nav class="container py-3">
            <div class="row justify-content-end text-warning fw-bolder">
                <div class="col-auto pe-3"><NavLink href="" class="text-warning">Home</NavLink></div>
                <div class="col-auto pe-3"><NavLink a href="/aboutpage" class="text-warning">About Me</NavLink></div>
                <div class="col-auto pe-3"><NavLink href="/skillsandtoolspage" class="text-warning">Skills and Tools</NavLink></div>
                <div class="col-auto"><NavLink href="/projects" class="text-warning">Projects</NavLink></div>
            </div>
        </nav>
    </div>
</div>
