@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <CustomNavMenu />
    </div>

    <main>
        <body class="mainpage">
            @Body
        </body>
    </main>

    <div>
        <CustomFooter />
    </div>
</div>
