@page "/"
@layout CustomLayout

<PageTitle>AMF Portfolio</PageTitle>



<div class="min-vh-100 d-flex justify-content-center align-items-center slide-in-left">
	<div class="container m-5">
		<div class="row align-items-center">
			<div class="col-6">
				<h1 class="fw-bold text-white">
					Nice to meet you – I’m Amish Flores, and I build things with code.
				</h1>
			</div>
			<div class="col text-end" hidden>
				<img src="/Images/IMG_7592.JPG" class="img-fluid" alt="Profile Picture" style="width: auto; max-height: 250px; border-radius: 100%" />
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<h5 class="text-white">
					This portfolio was built using Blazor WebAssembly, a modern web framework by Microsoft that allows C# code to run directly in the browser. It's hosted on Microsoft Azure under the free tier — keeping things lightweight, efficient, and accessible.
				</h5>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<h6 class="text-white">
					Thanks for stopping by. Feel free to explore and get to know me more!
				</h6>
			</div>
		</div>
	</div>
</div>
