@page "/projects"
@layout CustomLayout

<title>AMF - Projects</title>
<div class="min-vh-100 offset-lg-1 slide-in-left d-flex  align-items-center">
	<h1 class="fw-bolder text-white">Coming Soon...</h1>
</div>
@code {

}
