@page "/skillsandtoolspage"
@layout CustomLayout

<title>AMF - Skills and Tools</title>

<div class="min-vh-100 d-flex justify-content-center slide-in-left">
	<div class="col-10 mt-5">
		<h2 class="fw-bold text-white">Skills and Tools</h2>
		<div class="row mt-5">
			<div class="row">
				<div class="col-4">
					<div class="card mb-5 skills-card">
						<div class="card-header skills-card-header">
							Programming
						</div>
						<div class="card-body skills-card-body">
							<blockquote class="blockquote mb-0">
								<ul class="m-0 p-0">
									<li class="list-group-item"> C#</li>
									<li class="list-group-item"> Python</li>
								</ul>
								
							</blockquote>
						</div>
					</div>
					<div class="card  skills-card">
						<div class="card-header skills-card-header">
							Development
						</div>
						<div class="card-body skills-card-body">
							<blockquote class="blockquote mb-0">
								<ul class="m-0 p-0">
									<li class="list-group-item">HTML</li>
									<li class="list-group-item">CSS</li>
									<li class="list-group-item">Bootstrap</li>
									<li class="list-group-item">Javascript / JQuery</li>
								</ul>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card  skills-card" style="height: 100%;">
						<div class="card-header  skills-card-header" >
							Framework
						</div>
						<div class="card-body skills-card-body d-flex align-items-center justify-content-center">
							<blockquote class="blockquote mb-0 w-100">
								<ul class="m-0 p-0">
									<li class="list-group-item"> ASP .NET</li>
									<li class="list-group-item"> ASP.NET-MVC</li>
									<li class="list-group-item"> .NET-Blazor</li>
									<li class="list-group-item"> .NET-MAUI</li>
									<li class="list-group-item"> Xamarin</li>
								</ul>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card  skills-card" style="height: 100%;">
						<div class="card-header  skills-card-header">
							Others
						</div>
						<div class="card-body  skills-card-body   d-flex align-items-center justify-content-center">
							<blockquote class="blockquote mb-0 w-100">
								<ul class="m-0 p-0">
									<li class="list-group-item"> MSSQL</li>
									<li class="list-group-item"> GIT</li>
									<li class="list-group-item"> Jira</li>
									<li class="list-group-item"> Trello</li>
									<li class="list-group-item"> Slack</li>
									<li class="list-group-item"> Figma</li>
									<li class="list-group-item"> Canva</li>
								</ul>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

@code {


	
}
